page-roll-results {
  .result-header {
    height: 36px;
  }
  n-icons {
    display: flex;
    flex-flow: row wrap;
    margin-left: 12px;
    svg {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }
  .result-row {
    display: flex;
    flex: 1 0 auto;
  }
  .die-selection {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
  }
}
