// http://ionicframework.com/docs/v2/theming/


.proficiency {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #CBD32C;
}

.challenge {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #A71F34;
}

.ability {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #1D7F37;
}

.difficulty {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #3C1F5C;
}

.boost {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #A2C8EF;
}

.setback {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #000000;
}

.force {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #FFFFFF;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
