// http://ionicframework.com/docs/v2/theming/

$challenge: #A71F34;
$ability: #1D7F37;
$difficulty: #3C1F5C;
$boost: #A2C8EF;
$setback: #000000;
$force: #FFFFFF;


.proficiency {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: #CBD32C;
}

.die {
  width: 1.5em;
  height: 1.5em;
}

.child-vertical-margin {
  > * {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.challenge {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: $challenge;
}

.ability {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: $ability;
}

.difficulty {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: $difficulty;
}

.boost {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: $boost;
}

.setback {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: $setback;
}

.force {
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 10;
  fill: $force;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
