die-chooser {
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  .skinny-button {
    padding: 0;
  }
  svg {
    height: 36px;
    width: 36px;
  }
}
