<div class="results" *ngIf="crit$ | async; let crit; else waiting">
  <p class="strong">{{ crit.name }}({{ crit.val }}):</p>
  <p>{{ crit.desc }}</p>
</div>
<ng-template #waiting>
  <div class="buttons">
    <button ion-button clear class="skinny-button" (click)="controlClick(-10)">
      <svg class="die"><use xlink:href="#minus-outline"></use></svg>
    </button>
    <button ion-button clear (click)="rollCrit($event)" class="strong">Roll +{{critBonus$ | async}}</button>
    <button ion-button clear class="skinny-button" (click)="controlClick(+10)">
      <svg class="die"><use xlink:href="#plus-outline"></use></svg>
    </button>
  </div>
</ng-template>
