<div (click)="toggleContent()">Criticals</div>
<div [@slideInOut]="showing">
  <button ion-button clear class="skinny-button" (click)="controlClick(-10)">
    <svg class="die"><use xlink:href="#minus-outline"></use></svg>
  </button>
  {{ critBonus$ | async}}
  <button ion-button clear class="skinny-button" (click)="controlClick(+10)">
    <svg class="die"><use xlink:href="#plus-outline"></use></svg>
  </button>
  <button ion-button (click)="rollCrit($event)">ROLL</button>
  <div>
    RESULTS:{{ (crit$ | async)?.val }} {{ (crit$ | async)?.name }}: {{ (crit$ | async)?.desc }}
  </div>
</div>
