<!--
  Generated template for the SkillRoll page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Skill Roll</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab bottom right (click)="doRoll()">
    <button ion-fab>ROLL</button>
  </ion-fab>

  <div class="die-selection">
    <svg
      class="die"
      *ngFor="let die of chosenDice"
      [ngClass]="die.class"
    >
      <use [attr.xlink:href]="die.iconURL"></use>
    </svg>
  </div>

  <div class="chooser-column">
    <div *ngFor="let dieType of dice">
      <die-chooser [die]="dieType"></die-chooser>
    </div>
  </div>

</ion-content>
