<!--
  Generated template for the SkillRoll page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Skill Roll</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>Selected</ion-card-header>
    <ion-card-content>
      <div class="die-selection">
        <svg
          class="die"
          *ngFor="let die of selected$ | async"
          [ngClass]="die.class"
        >
          <use [attr.xlink:href]="die.iconURL"></use>
        </svg>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="chooser-column">
    <die-chooser *ngFor="let dieType of diceNames" [die]="dice[dieType]"></die-chooser>
  </div>
  <div class="control-row" [ngClass]="{lefty: (settings$ | async)?.attributes.leftHanded}">
    <button ion-button (click)="doReset()">
      RESET
    </button>
    <button ion-button #roll>
      ROLL
    </button>
  </div>
</ion-content>
